# Absolute folders
# --------------

/packages

# Absolute files
# ------------

# /*.xxx

# Folders everywhere
# ------------------

.vs
bin
obj

# Files everywhere
# ----------------

*.suo
*.user
*.userprefs